<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Demo Mobile</title>
  </head>
  <body>
    <p>Demo Mobile</p>
  </body>
</html>
