@charset "UTF-8";
/*@import "suitcss-base";*/
body {
  font-family: "Avenir Next", Avenir, "Helvetica Neue", Helvetica, "Lantinghei SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", "STHeiti", "WenQuanYi Micro Hei", SimSun, sans-serif;
  font-size: 14px;
  line-height: 1.8;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
.tl-TimelineForm-date {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.tl-TimelineForm-dateInput {
  border-color: #0084B4;
  border-color: rgba(0, 132, 180, 0.25); }

.tl-TimelineForm-textInput {
  border-color: #0084B4;
  border-color: rgba(0, 132, 180, 0.25); }
