$color-light-blue: rgba(0, 132, 180, .25);

$font-size: 14px;
$font-family: "Avenir Next", Avenir, "Helvetica Neue", Helvetica, "Lantinghei SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", "STHeiti", "WenQuanYi Micro Hei", SimSun, sans-serif;
$line-height: 1.8;
