$color-blue: rgb(33,150,243);
$color-text: rgba(0, 0, 0, 0.87);
$color-text-secondary: rgba(0, 0, 0, 0.54);

$font-family: "Avenir Next", Avenir, "Helvetica Neue", Helvetica, "Lantinghei SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", "STHeiti", "WenQuanYi Micro Hei", SimSun, sans-serif;


