// /**
//  * Breakpoints
//  */

// @custom-media --sm-viewport (min-width:320px);
// @custom-media --md-viewport (min-width:640px);
// @custom-media --lg-viewport (min-width:960px);

// /**
//  * Colors
//  */

// :root {
//   --color-light-blue: rgba(0, 132, 180, .25);
// }

// /**
//  * Fonts
//  */

// :root {
//   --font-size: 14px;
//   --font-family: "Avenir Next", Avenir, "Helvetica Neue", Helvetica, "Lantinghei SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", "STHeiti", "WenQuanYi Micro Hei", SimSun, sans-serif;
//   --line-height: 1.8;
// }

// /**
//  * Spacing
//  */

// :root {
//   --space-small-px: 10px;
//   --space-medium-px: 15px;
//   --space-large-px: 20px;
// }

$color-light-blue: rgba(0, 132, 180, .25);

$font-size: 14px;
$font-family: "Avenir Next", Avenir, "Helvetica Neue", Helvetica, "Lantinghei SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", "STHeiti", "WenQuanYi Micro Hei", SimSun, sans-serif;
$line-height: 1.8;